<section >
  <button class="add-btn" mat-raised-button color="primary" (click)="onNewBookAdd()">Add new book</button>
  <mat-form-field class="search">
    <input type="text" matInput placeholder="Search by title or author" aria-label="Search by title or author" aria-describedby="basic-addon2" [(ngModel)]="searchText">
  </mat-form-field>
  <div class="book-list">
    <gook-book-item
    *ngFor="let bookItem of books | filter: searchText; let i = index"
    [book]="bookItem"
    [index]="i">
    </gook-book-item>
  </div>
</section>
<!-- 
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search by title or author" aria-label="Search by title or author" aria-describedby="basic-addon2" [(ngModel)]="searchText">
        </div>
      </div>
      <div class="card-body">
        <gook-book-item
          *ngFor="let bookItem of books | filter: searchText; let i = index"
          [book]="bookItem"
          [index]="i">
        </gook-book-item>
      </div>
    </div>
  </div>
</div> -->
