<section>
  <mat-card>
    <h1>Edit book</h1>
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input 
          matInput 
          placeholder="Book title"
          formControlName="title">
      </mat-form-field>

      <mat-form-field>
        <textarea 
          matInput 
          placeholder="Description"
          formControlName="description"></textarea>
      </mat-form-field>
      <h3>Author</h3>
      <div id="author" formGroupName="author">
            <mat-form-field>
                <input
                matInput
                id="firstName"
                formControlName="firstName"
                placeholder="Name"
                type="text">
            </mat-form-field>

            <mat-form-field>
                <input
                matInput
                id="lastName"
                formControlName="lastName"
                type="text"
                placeholder="Last name">
              </mat-form-field>
        </div>
      <button mat-raised-button color="accent" *ngIf="!editMode"  type="submit" [disabled]="!bookForm.valid">Add book</button>
      <button mat-raised-button color="primary" *ngIf="editMode"  type="submit" [disabled]="!bookForm.valid">Save</button>
      <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
    </form>
  </mat-card>
</section>





